* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {

  min-height: 100%;
  min-width: 100%;
}

.form-width {

  width: 35vw;
  margin: auto;
}

.input-width {
    
    width: 15px;

}

input::-webkit-inner-spin-button {
  display: none;
}